<h1 class="headers">Manage Assignments</h1>
<img src="https://images.unsplash.com/photo-1501618669935-18b6ecb13d6d?w=2064&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" width=20% height=20%> 
<br/>
<br/>
<button class="logButton" routerLink="/assignments">Return to Assignments</button>
<br/>
<br/>
<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>
<br/>
<br/>

<form novalidate (ngSubmit)="saveAssignment(assignmentsForm)" #assignmentsForm="ngForm" class="form-horizontal">
  <input [ngModel]="assignments?.assignmentId" ngModel #assignments.id="ngModel" type="hidden" name="id">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label formTitle">Assignment Name<span class="requiredStar">*</span></label>
    <div class="col-sm-10">
      <input [ngModel]="assignments?.assignmentName" ngModel #assignmentName="ngModel" type="text" class="form-control" id="name" name="name" placeholder="Assignment Name" required minlength="2">
      <span *ngIf="formErrors.name" class="text-danger">
        {{ formErrors.name }}
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="dueDate" class="col-sm-2 control-label formTitle">Due Date<span class="requiredStar">*</span></label>
    <div class="col-sm-10">
      <input [ngModel]="assignments?.assignmentDueDate" ngModel #assignmentDueDate="ngModel" type="date" class="form-control" id="dueDate" name="dueDate"  placeholder="Due Date" required>
    </div>
  </div>
  <div class="form-group">
    <label for="comment" class="col-sm-2 control-label formTitle">Comments</label>
    <div class="col-sm-10">
      <input [ngModel]="assignments?.assignmentComment" ngModel #assignmentComment="ngModel" type="text" class="form-control" id="comment" name="comment"  placeholder="Comment">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label formTitle">Description</label>
    <div class="col-sm-10">
      <input [ngModel]="assignments?.assignmentDescription" ngModel #assignmentDescription="ngModel" type="text" class="form-control" id="description" name="description"  placeholder="Description">
    </div>
  </div>
  <!-- pass teacher ID in path and not in body teachers/id/assignments -->
  <input [ngModel]="currentUser?.userId" ngModel #currentUser.userId="ngModel" type="hidden" name="teacherId">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button [disabled]="!assignmentsForm.form.valid" type="submit" class="logButton">Submit</button>
    </div>
  </div>
</form>
