<br/>


<h1 class="headers">Assignments and Grades</h1>

<!-- <a class="btn btn-primary" routerLink="/announcements-form">Add Announcement</a> -->
<br>
<br>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<table class="table table-hover table-bordered" style="width:60%">
<thead>
  <tr>
    <!-- <th>ID</th> -->
    <th>Assignment Name</th>
    <th>Due Date</th>
    <th>Grade</th>
    <th>Comments</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let assignment of assignments">
    <!-- <td>{{announcement.id}}</td> -->
    <td>{{assignment.gradeAssignmentId}}</td>
    <td>Due Date</td>
    <td>{{assignment.letterGradeValue}}</td>
    <td>Comments</td>
  </tr>
</tbody>

</table>
