<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<button class="standardButton" routerLink="/assignments-form">Add Assignment</button>
<br/>
<br/>
<table class="table table-hover table-bordered" style="width:60%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Assignment Name</th>
        <th>Due Date</th>
        <th>Comments</th>
        <th>Grade</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let assignment of assignments">
        <td>{{assignment.assignmentId}}</td>
        <td>{{assignment.assignmentName}}</td>
        <td>{{assignment.assignmentDueDate | date}}</td>
        <td>{{assignment.assignmentDescription}}</td>
        <td>{{assignment.assignmentComment}}</td>
        <td class="text-center" width=30%>
          <a class="myButtonThree" [routerLink]="['/grades/', assignment.assignmentId]">Grade</a>&nbsp;
          <a class="myButton" [routerLink]="['/assignments-form/edit/', assignment.assignmentId]">Edit</a>&nbsp;
          <button (click)="deleteAssignment(assignment.assignmentId)" class="myButtonTwo">Delete</button>
        </td>
      </tr>
    </tbody>
</table>