<button class="btn btn-primary">Add Assignment</button>
<br>
<table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Assignment Name</th>
        <th>Due Date</th>
        <th>Comments</th>
        <th>Grade</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Final Project</td>
        <td>10/30</td>
        <td>Group project assignment 6+ people</td>
        <td>A+</td>
        <td class="text-center">
          <a class="btn btn-primary">Edit</a>&nbsp;
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
</table>