
<h1 class="headers">Manage Teachers</h1>
<br/>
<img src="https://images.unsplash.com/photo-1503676685182-2531a01b5b5c?w=2255&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" width=20% height=20%>
<br/>
<br/>
<button class="logButton" routerLink="/add-accounts">Return to Accounts</button>
<br/>
<br/>
<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>
<br/>

<form novalidate (ngSubmit)="saveTeacher(teacherForm)"  #teacherForm="ngForm" class="form-horizontal">
  <input [ngModel]="teacher.userId" ngModel #userId="ngModel" type="hidden" name="userId">
  <div class="form-group">
    <label for="firstName" class="col-sm-2 control-label formTitle">First Name<span class="requiredStar">*</span></label>
    <div class="col-sm-10">
      <input [(ngModel)]="teacher.firstName" ngModel #firstName="ngModel" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required minlength="2" maxlength="30" pattern="[A-Za-z]+">
      <span *ngIf="formErrors.firstName" class="text-danger">
        {{ formErrors.firstName }}
      </span>  
    </div>
  </div>
  <div class="form-group">
    <label for="lastName" class="col-sm-2 control-label formTitle">Last Name<span class="requiredStar">*</span></label>
    <div class="col-sm-10">
      <input [(ngModel)]="teacher.lastName" ngModel #lastName="ngModel" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required minlength="2" maxlength="30" pattern="[A-Za-z]+">
      <span *ngIf="formErrors.lastName" class="text-danger">
        {{ formErrors.lastName }}
      </span>  
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label formTitle">Email<span class="requiredStar">*</span></label>
    <div class="col-sm-10">
      <input [(ngModel)]="teacher.email" ngModel #email="ngModel" type="email" class="form-control" id="email" name="email" placeholder="Email" required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$">
      <span *ngIf="formErrors.email" class="text-danger">
        {{ formErrors.email }}
      </span>  
    </div>
  </div>
  <div class="form-group" id="teacherPasswordDiv">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input [(ngModel)]="teacher.password" ngModel #password="ngModel" type="hidden" class="form-control" id="password" name="password" placeholder="" required >
    </div>
  </div>
  <div class="form-group">
      <label for="gradeLevel" class="col-sm-2 control-label formTitle">Grade Level<span class="requiredStar">*</span></label>
        <select name="gradeLevel" id="gradeLevel" [(ngModel)]="teacher.gradeLevel" required>
          <option value="default" disabled>Select Grade Level...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select> 
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="logButton">Submit</button>
    </div>
  </div>
</form>

