<!-- <ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li class="active">Announcements</li>
</ol> -->

<br/>

<!-- <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message> -->

<h2>Announcements</h2>

<a class="standardButton" routerLink="/announcements-form">Add Announcement</a>
<br>
<br>

<table class="table table-sm table-striped table-bordered" id="dataTable" style="width:80%">
<thead>
  <tr>
    <!-- <th>ID</th> -->
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Admin</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let announcement of announcements">
    <!-- <td>{{announcement.id}}</td> -->
    <td>{{announcement.date | date}}</td>
    <td>{{announcement.title}}</td>
    <td>{{announcement.description}}</td>
    <td class="text-center">
      <a class="myButton" [routerLink]="['/announcements/edit/', announcement.id]">Edit</a>&nbsp;
      <button (click)="deleteAnnouncements(announcement.id)" class="myButtonTwo">Delete</button>
    </td>
  </tr>
</tbody>

</table>

