<h1 class="headers">
  <img src="https://images.unsplash.com/photo-1476846764689-14e2b6b2f133?w=2850&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" width=20% height=20%> <br/>
  <br/>
  Announcements
</h1>
<br/>
<br/>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<button class="logButton" routerLink="/announcements-form">Add Announcement</button>
<br/>
<br/>
<br/>

<table class="table table-hover table-bordered" style="width:60%">
<thead>
  <tr>
    <!-- <th>ID</th> -->
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Admin</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let announcement of announcements">
    <!-- <td>{{announcement.id}}</td> -->
    <td>{{announcement.date | date:'MM/dd/yyyy'}}</td>
    <td>{{announcement.title}}</td>
    <td>{{announcement.description}}</td>
    <td class="text-center" width=30%>
      <button class="myButton" [routerLink]="['/announcements/edit/', announcement.id]">Edit</button>&nbsp;
      <button (click)="deleteAnnouncements(announcement.id)" class="standardButton">Delete</button>
    </td>
  </tr>
</tbody>

</table>

