h1 {
    background-color: #ebebe0;
    font-size: 35px;
    color: #662200;
    text-shadow: 2px 2px 18px #751528;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: 'Julius Sans One', sans-serif;
}

#schoolName {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10px;
    color: #662200;
    background-color: WhiteSmoke;
    padding-top: 1%;
    padding-bottom: 1%;
}


