<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/assignments" >Assignments</a></li>      
        <li routerLinkActive="active"><a routerLink="/grades" >Grades</a></li>             
        <li routerLinkActive="active"><a routerLink="/calendar" >Calendar</a></li>
        <li routerLinkActive="active"><a routerLink="/announcements" >Announcements</a></li> 
        <li routerLinkActive="active"><a routerLink="/addAccounts" >Add Accounts</a></li> 
        <li routerLinkActive="active"><a routerLink="/preferences" >Preferences</a></li>                             
    </ul>
</div>
