<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home" >Home</a></li>      
        <li routerLinkActive="active"><a routerLink="/assignments" >Assignments</a></li>                 
        <li routerLinkActive="active"><a routerLink="/announcements-form" >Add/Edit Announcements</a></li> 
        <li routerLinkActive="active"><a routerLink="/add-accounts" >Add Accounts</a></li> 
        <li routerLinkActive="active"><a routerLink="/preferences" >Preferences</a></li>                             
    </ul>
</div>
