/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Catamaran:200');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


body {
	background-image: url("public/images/background.jpg");
}


#schoolHeader {
    background-color: #ebebe0;
    font-size: 35px;
    color: #662200;
    text-shadow: 2px 2px 18px #751528;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: 'Julius Sans One', sans-serif;
}


#schoolName {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10px;
    color: #662200;
    background-color: #ebebe0;
    padding-top: 1%;
    padding-bottom: 1%;
}


#userWelcome {
    font-family: 'Catamaran', sans-serif;
    color: Grey;
}

table {
    margin: 0 auto;
    z-index: 1;
}

#centerColor {
	background-color: WhiteSmoke;
	margin-right: 10%;
	margin-left: 10%;
}

.headers {
	display: block;
    color: #662200;
    font-family: 'Julius Sans One', sans-serif;
	font-size: 30px; 
}

.formTitle {
	font-family: 'Quicksand', sans-serif;
}

th {
	background-color: #ebebe0;
	color: #00661a;
	font-family: 'Catamaran', sans-serif;
	font-size: 18px;
	text-align: center;
}

td {
	background-color: WhiteSmoke;
	font-family: 'Catamaran', sans-serif;
	font-size: 12px;
}

.delete {
	color: #662200;
    font-family: 'Julius Sans One', sans-serif;
	font-size: 35px; 
}

.text {
	font-family: 'Catamaran', sans-serif;
    color: Grey;
    font-size: 15px;
}

form {
    padding-right: 25%;
    padding-left: 25%;
}

#lognav {
	position: relative;
	width: 100%;
}
#login {
	padding: 0;
	position: absolute;
	right: 7px;
}

#logout {
	padding: 0;
	position: absolute;
	right: 7px;
}

.mat-dialog-container {
	background-color: #ebebe0;
	border: 0px;
	margin: auto;
	padding: 2px;
	position: absolute;
	max-height: calc(100vh - 450px);	
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #68a34b));
	background:-moz-linear-gradient(top, #77b55a 5%, #68a34b 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #68a34b 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #68a34b 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #68a34b 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #68a34b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#68a34b',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a34b), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #68a34b 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #68a34b 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #68a34b 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #68a34b 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #68a34b 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a34b', endColorstr='#77b55a',GradientType=0);
	background-color:#68a34b;
}
.myButton:active {
	position:relative;
	top:1px;
}


.myButtonTwo {
	-moz-box-shadow: 0px 10px 14px -7px #91b8b3;
	-webkit-box-shadow: 0px 10px 14px -7px #91b8b3;
	box-shadow: 0px 10px 14px -7px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.myButtonTwo:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButtonTwo:active {
	position:relative;
	top:1px;
}

.myButtonThree {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cde0c3), color-stop(1, #86d460));
	background:-moz-linear-gradient(top, #cde0c3 5%, #86d460 100%);
	background:-webkit-linear-gradient(top, #cde0c3 5%, #86d460 100%);
	background:-o-linear-gradient(top, #cde0c3 5%, #86d460 100%);
	background:-ms-linear-gradient(top, #cde0c3 5%, #86d460 100%);
	background:linear-gradient(to bottom, #cde0c3 5%, #86d460 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde0c3', endColorstr='#86d460',GradientType=0);
	background-color:#cde0c3;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:White;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButtonThree:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #86d460), color-stop(1, #cde0c3));
	background:-moz-linear-gradient(top, #86d460 5%, #cde0c3 100%);
	background:-webkit-linear-gradient(top, #86d460 5%, #cde0c3 100%);
	background:-o-linear-gradient(top, #86d460 5%, #cde0c3 100%);
	background:-ms-linear-gradient(top, #86d460 5%, #cde0c3 100%);
	background:linear-gradient(to bottom, #86d460 5%, #cde0c3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#86d460', endColorstr='#cde0c3',GradientType=0);
	background-color:#86d460;
}
.myButtonThree:active {
	position:relative;
	top:1px;
}


.standardButton {
	-moz-box-shadow: 0px 10px 14px -7px #569e42;
	-webkit-box-shadow: 0px 10px 14px -7px #569e42;
	box-shadow: 0px 10px 14px -7px #569e42;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #336640), color-stop(1, #3a522c));
	background:-moz-linear-gradient(top, #336640 5%, #3a522c 100%);
	background:-webkit-linear-gradient(top, #336640 5%, #3a522c 100%);
	background:-o-linear-gradient(top, #336640 5%, #3a522c 100%);
	background:-ms-linear-gradient(top, #336640 5%, #3a522c 100%);
	background:linear-gradient(to bottom, #336640 5%, #3a522c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#336640', endColorstr='#3a522c',GradientType=0);
	background-color:#336640;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #051707;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.standardButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3a522c), color-stop(1, #336640));
	background:-moz-linear-gradient(top, #3a522c 5%, #336640 100%);
	background:-webkit-linear-gradient(top, #3a522c 5%, #336640 100%);
	background:-o-linear-gradient(top, #3a522c 5%, #336640 100%);
	background:-ms-linear-gradient(top, #3a522c 5%, #336640 100%);
	background:linear-gradient(to bottom, #3a522c 5%, #336640 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a522c', endColorstr='#336640',GradientType=0);
	background-color:#3a522c;
}
.standardButton:active {
	position:relative;
	top:1px;
}

.standardButton:disabled,
	.standardButton[disabled]{
		-moz-box-shadow: 0px 10px 14px -7px #6b7566;
		-webkit-box-shadow: 0px 10px 14px -7px #6b7566;
		box-shadow: 0px 10px 14px -7px #6b7566;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d4d9d2), color-stop(1, #949c90));
		background:-moz-linear-gradient(top, #d4d9d2 5%, #949c90 100%);
		background:-webkit-linear-gradient(top, #d4d9d2 5%, #949c90 100%);
		background:-o-linear-gradient(top, #d4d9d2 5%, #949c90 100%);
		background:-ms-linear-gradient(top, #d4d9d2 5%, #949c90 100%);
		background:linear-gradient(to bottom, #d4d9d2 5%, #949c90 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d9d2', endColorstr='#949c90',GradientType=0);
		background-color:#d4d9d2;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		border:1px solid #a6a6a6;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:13px;
		padding:6px 12px;
		text-decoration:none;
		text-shadow:0px 1px 0px #6b7068;
}



.logButton {
	-moz-box-shadow: 0px 10px 14px -7px #662200;
	-webkit-box-shadow: 0px 10px 14px -7px #662200;
	box-shadow: 0px 10px 14px -7px #662200;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #873207), color-stop(1, #662200));
	background:-moz-linear-gradient(top, #873207 5%, #662200 100%);
	background:-webkit-linear-gradient(top, #873207 5%, #662200 100%);
	background:-o-linear-gradient(top, #873207 5%, #662200 100%);
	background:-ms-linear-gradient(top, #873207 5%, #662200 100%);
	background:linear-gradient(to bottom, #873207 5%, #662200 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#873207', endColorstr='#662200',GradientType=0);
	background-color:#873207;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #662200;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #010300;
}
.logButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #662200), color-stop(1, #873207));
	background:-moz-linear-gradient(top, #662200 5%, #873207 100%);
	background:-webkit-linear-gradient(top, #662200 5%, #873207 100%);
	background:-o-linear-gradient(top, #662200 5%, #873207 100%);
	background:-ms-linear-gradient(top, #662200 5%, #873207 100%);
	background:linear-gradient(to bottom, #662200 5%, #873207 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#662200', endColorstr='#873207',GradientType=0);
	background-color:#662200;
}
.logButton:active {
	position:relative;
	top:1px;
}