#announcements {
   margin-left: 5%; 
}

hr {
    margin-right: 5%;
}

#date {
   display: flex;
   padding-left: 10%; 
   color: #662200;
   font-family: 'Acme', sans-serif;
   font-size: 25px;
}

#title {
    display: flex;
    font-family: 'Acme', sans-serif;
    color: #00661a;
    font-size: 25px;
}

#description {
    display: flex;
    font-family: 'Catamaran', sans-serif;
    color: Grey;
    font-size: 15px;
}


