<button class="standardButton" routerLink="/assignments">Return to Assignments</button>
<table class="table table-hover table-bordered text-center" style="width:80%; margin-top: 3em;">
  <thead>
    <tr>
      <th>Student</th>
      <th>Grade Value</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assignment of assignmentsWithStudent">
      <td>{{assignment.firstName}} {{assignment.lastName}}</td>
      <td>
        <select [(ngModel)]="assignment.letterGradeValue" (change)="saveGrades(assignment)">
          <option value="Not graded.">Not graded.</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="F">F</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="assignment.comment" type="text" (blur)="saveGrades(assignment)">
      </td>
    </tr>
  </tbody>
</table>